// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.item__48dda {
  display: flex;
  align-items: center; 
}

// Sidebar
.sidebar__02e8d {
  min-width: calc(218px + var(--SeIc-width-serverlist));
}

// Remove
.premiumLabel__68f78 svg,
.tabBarItemContainer__5d798 svg,
.tabBarItemContainer__5d798 > div,
.landingPageTabLink__4f16a .textBadge_f05120 {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Text & Background                                                                       ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.sidebar__02e8d .item__48dda {
  text-transform: var(--SeIc-style-text);
  background: var(--SeIc-color-background-normal);
  color: var(--SeIc-color-text-normal);
}

// Hover
.sidebar__02e8d .item__48dda:hover {
  color: var(--SeIc-color-text-hover);
}

// Active
.sidebar__02e8d .selected_a523ff.item__48dda {
  color: var(--SeIc-color-text-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Nitro Background                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Nitro Background (Normal)
.sidebar__02e8d .premiumTab_ad0913,
.sidebar__02e8d .serverBoostTabItem__0267d {
  background: var(--SeIc-color-background-nitro-normal);
  color: var(--SeIc-color-text-nitro-normal);
}

// Nitro Background (Hover)
.sidebar__02e8d .premiumTab_ad0913:hover,
.sidebar__02e8d .serverBoostTabItem__0267d:hover {
  background: var(--SeIc-color-background-nitro-hover) !important;
  color: var(--SeIc-color-text-nitro-hover);
}

// Nitro Background (Active)
.sidebar__02e8d .premiumTab_ad0913 .selectedBackground__4039b,
.sidebar__02e8d .serverBoostTabItem__0267d.selected_a523ff {
  background: var(--SeIc-color-background-nitro-active) !important;
  color: var(--SeIc-color-text-nitro-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Nitro Icon                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Nitro Icon (Normal)
.sidebar__02e8d .premiumTab_ad0913.item__48dda::before,
.sidebar__02e8d .serverBoostTabItem__0267d.item__48dda::before  {
  background: var(--SeIc-color-icon-nitro-normal) !important;
}

// Nitro Icon (Hover)
.sidebar__02e8d .premiumTab_ad0913:hover.item__48dda::before,
.sidebar__02e8d .serverBoostTabItem__0267d:hover.item__48dda::before {
  background: var(--SeIc-color-icon-nitro-hover) !important;
}

// Nitro Icon (Active)
.sidebar__02e8d .premiumTab_ad0913.selected_a523ff.item__48dda::before,
.sidebar__02e8d .serverBoostTabItem__0267d.selected_a523ff.item__48dda::before {
  background: var(--SeIc-color-icon-nitro-active) !important;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Icons                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.sidebar__02e8d .item__48dda::before {
  content: "";
  background: var(--SeIc-color-icon-normal);
  width: 24px;
  height: 22px;
  margin: -2px 6px 0px 0px;
  -webkit-mask: var(--icon) center/contain no-repeat;
  mask: var(--icon) center/contain no-repeat;
  flex-shrink: 0;
  --icon: var(--SeIc-icon-placeholder);
}

// Hover
.sidebar__02e8d .item__48dda:hover::before {
  background: var(--SeIc-color-icon-hover);
}

// Active
.sidebar__02e8d .selected_a523ff.item__48dda::before {
  background: var(--SeIc-color-icon-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Header                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.sidebar__02e8d .header__71a82 {
  color: var(--SeIc-color-header-normal);
  text-transform: var(--SeIc-style-header);
}